<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh Sách Tài Khoản</title>
</head>
<body>
    <h1>Danh Sách Tài Khoản</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Password</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <% acounts.forEach(function(acount) { %>
               <tr>
                   <td><%= acount._id %></td>
                   <td><%= acount.username %></td>
                   <td><%= acount.password %></td>
                   <td><%= acount.name %></td>
               </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
